*{
  background-color: #020202;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.header{
  width: 100%;
  height: 80px;
}
.container{
  width: 1296px;
  height: 170px;
  background-color: #020202;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  
}
.logo img{
  width: 130px;
  height: auto;
  padding: 50%;
  
}
.menu ul{
  display: inline-flex;
  margin: 16px;
  padding: 50px;
}
.menu ul a{
  color: #fff;
  margin: 16px;
  text-decoration: none;
}
.btn {
  color: #fff;
  border: 2px solid #fff;
  margin: 46px;
  border-radius: 6px;
  text-decoration: none;
  padding: 10px 20px;
}
.section .box{
  width: 1296px;
  height: 170px;
  background-color: #020202;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}
.box h2{
  color: #fff;
  padding: 20px;
  margin:40px;
}
.destaque{
  font-weight: bold;
  font-size: 40px;
}
.box p{
  color: #fff;
  margin: 420px;

}
.img{
  display: flex;
  justify-content: space-between;
}